@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #141414;
  --secondary: #8c8c8c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
